#root {
  width: calc(100% - 2 * 2rem);
  margin: 0 auto;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

main > * + * {
  margin-top: 2rem;
}

.settings {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: 2rem 0rem;
}

.settings > div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.settings label {
  text-align: start;
}

@media only screen and (min-width: 601px) {
  .settings {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 2rem;
  }

  .settings > div {
    flex-direction: column;
    gap: 0;
    width: initial;
  }

  .settings label {
    text-align: center;
  }
}
